/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* utility */

.title-column {
    border-bottom: 1px solid #d0d0d3;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color: #000;
}

.blu-button {
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: #0061ff;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.blu-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.hero-p {
    font-size: 25px;
    line-height: 30px;
    font-weight: normal;
    padding-top: 20px;
}

.hero-title {
    font-weight: bold;
    font-size: 60px;
}

.arrow {
    font-size: 40px;
    margin-top: 20px;
    margin-left: 50px;
}

.bg-blu {
    background: #b4d0e7;
}

/*  header  */

nav {
    width: 100%;
    background-color: #fff;
    line-height: 80px;
    position: fixed;
    border-bottom: 1px solid black;
    z-index: 1;
}

.header-left {
    width: 50%;
    display: inline-block;
}

.header-right {
    width: 50%;
    float: right;
    text-align: right;
}

nav li:hover {
    border-bottom: 3px solid #0061ff;
}

/* DROP-MENU */
.has-children{
    position: relative;
}

nav .has-children .fa-angle-up {
    visibility: hidden;
    opacity: 0;
}

nav .has-children:hover .fa-angle-down {
    display: none;
}

nav .has-children:hover .fa-angle-up {
    visibility: visible;
    opacity: 1;
}

 nav .has-children:hover .sub-menu {
    transition: .5s;
    visibility: visible;
    opacity: 1;
    top: 50px;
 }

.sub-menu {
    position: absolute;
    top: 60px;
    left: 0;
    background: #fff;
    border: 1px solid #000;
    border-bottom: none;
    visibility: hidden;
    opacity: 0;
}

.sub-menu li {
    width: 200px;
    border-bottom: 1px solid #000;
}

.sub-menu:hover{
    display: block;
}

/* section left */

.header-left ul li {
    display: inline-block;
}

.header-left li img {
    padding: 20px;
    vertical-align: middle;
}

.header-left li a {
    font-weight: bold;
    padding: 20px;
}

/* right section */
.header-right ul li {
    display: inline-block;
}

.header-right li a {
    font-weight: bold;
    padding: 20px;
}

.header-right li button {
    margin-right: 20px;
}

/* hero-section */

.hero-container{
    width: 80%;
    height: 700px;
    margin: 0 auto;
    position: relative;
    top: 80px;
}

.section-1{
    width: 100%;
}

.section-left {
    width: 50%;
    float: left;
}

.section-right {
    width: 50%;
    float: left;
    margin-top: 100px;
}

.section-right img {
    width: 100%;
    object-fit: cover;
    position: relative;
    top: 30px;
}

.section-left .blu-button {
    margin-top: 50px;
    margin-bottom: 20px;
    display: block;
}


/* main */

.main-container {
    margin: 100px auto;
    width: 80%;
}

.title-main {
    width: 100%;
}

.radio-section {
    font-size: 20px;
    font-weight: medium;
    display: inline-block;
    padding: 50px 20px;
    cursor: pointer;
    position: relative;
}


/* column-section */

.column-main {
    width: 30%;
    height: 900px;
    float: left;
    margin: 8px 15px;
    border: 2px solid #d0d0d3;
    line-height: 25px;
}
.central-column {
    width: 100%;
    margin: 50px 0;
    border: 2px solid #d0d0d3;
}
.title-column {
    text-align: center;
    font-size: 20px;
}

/* LIST */
.column-main .list-top ul,
.column-main .list-top2 ul,
.column-main .list-bottom ul {
    list-style: none;
    margin-bottom: 50px;
}

.column-main .list-top li,
.column-main .list-top2 li,
.column-main .list-bottom li {
    padding: 10px;
}

 .list-top li h2 {
    padding-top: 20px;
}

.column-main  button {
    display: block;
    margin-left: 20%;
    margin-bottom: 20px;
}
/* TOP-LIST */

 .buy-now{
    display: inline-block;
    margin-left: 20%;
    border-bottom: 1px solid #d0d0d3;
    padding-bottom: 10px;
    margin-top: 10px;
}

.column-main  a {
    color:#0061ff;
    text-decoration: underline;
}

/* BOTTOM-LIST */

.list-bottom  h2 {
    margin-bottom: 20px;
}

.list-bottom li span {
    line-height: 26px;
    padding: 10px;
}

.list-bottom li i {
    color: #0061ff;
    font-size: 25px;
}


/* CENTRAL-COLLUMN */

.central-container {
    width: 100%;
    padding-left: 20px;
}

.central-container .left {
    width: 70%;
    display: inline-block;
    margin: 10px 0;
}

.left h4,h5 {
    line-height: 40px;
}

 .left h4 {
    font-size: 30px;
    font-weight: bold;
}

.left h5 {
    font-size: 18px;
    font-weight: bold;
}

.central-container .contact {
    width: 30%;
    float: right;
}

.central-container  .contact button {
    margin-top: 20px;
}

.central-container .paragraph {
    margin: 20px 0;
}

/*  SECTION-PARTNER */

.section-partner{
    width: 80%;
    margin: 50px auto;
}

.section-partner .img-partner {
    width: 60%;
    float: left;
}

.img-partner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-partner .text-partner {
    width: 40%;
    float: left;
    padding: 50px;
}

 .title-partener {
    font-size: 40px;
}

.text-partner p {
    font-size: 20px;
    margin-top: 10px;
    line-height: 30px;
}

.text-partner button {
   margin-top: 50px;
   border: 1px solid black;
}

.text-partner .blu-button {
    background-color: transparent;
    color: #000;
}

/* section table */

.section-table {
    width: 80%;
    margin: 50px auto;
}

.top-table ul {
    margin-top: 50px;
}

.top-table ul li {
    width: 33% ;
    display: inline-block;
    padding-right: 10px;
}

.top-table .img-list  img {
    width: 100%;
    object-fit: contain;
}

.top-table .title-partner h4{
    font-size: 30px;
    margin-bottom: 20px;
}

.top-table .title-partner span {
    line-height: 30px;
    font-size: 20px;
}

.top-table .title-partner  a {
    text-decoration:underline;
}

/* BRAND-LIST */

.title-brand{
    width: 60%;
    margin: 100px auto;
}

.brand-section {
    width: 100%;
    height: 200px;
}
.brand-section ul {
    list-style: none;
}

.brand-section ul li{
    width: calc( 100% /3);
    float: left;
}

.brand-section .box-brand {
    width: 50%;
    float: left;
}

.brand-section .brand-text {
   width: 100%;
}

.img-brand {
    width: 100%;
    border: 10px solid transparent;
}

.img-brand img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    padding: 30px;
    margin: 30px 0;
    filter: invert(1);
}

.brand-text {
    padding: 20px 20px;
    background: #f5f5f5;
    height: 460px;
}

.brand-text p {
    padding: 50px 0;
}

.title-brand a {
    text-decoration: underline;
    color: #0061ff;
}

/* BRAND-COLOR */

#designit {
    background: #a2d39b;
}

#designit:hover {
    border: 10px solid #52b69a;
}

#arizona {
    background: #61082b;
}

#arizona:hover {
    border: 10px solid #540b0e;
}

#florida {
    background:#0093ce ;
}

#florida:hover{
    border: 10px solid #1d3557;
}

#topps {
    background: #ff1c1c;
}

#topps:hover {
    border: 10px solid #e76f51;
}

#world {
    background: #d5001f;
}
#world:hover{
    border: 10px solid #9d0208; 
}

#hearst {
    background: #b4d0e7;
}
#hearst:hover {
    border: 10px solid #168aad; 
}

#planet {
    background: #0d2481;
}
#planet:hover {
    border: 10px solid #4895ef;
}

#clear {
    background: #ffd830;
}
#clear:hover{
    border: 10px solid #ff6d00;
}

/* AZIENDA */

.azienda {
    width: 100%;
    height: 500px;
}

.title-container {
    width: 50%;
    display: inline-block;
}

.prova {
    width: 40%;
    float: right;
    margin-top: 100px;
    padding: 0 50px;
}

.prova button {
    background: white;
    color: #000;
}

.title-container h1 {
    color: #61082b;
    line-height: 60px; 
    margin-top: 100px; 
    text-align: center;
}

/* QUESTION */

.question {
    width: 80%;
    margin: 50px auto;
}

.question ul {
    margin-top: 50px;
    list-style: none;
}

.question  li {
    border-top: 2px solid #dcdcde;
    border-bottom: 2px solid #dcdcde;
    line-height: 50px;
}

.question  li h1 {
    padding: 50px 20px;
    display: inline-block;
}

.question li span {
    float: right;
    margin-top: 50px;
    margin-right: 50px;
}

.question .fa-angle-down {
    font-size: 30px;
}

/* HOVER P */

.question p{
    display: none;
    line-height: 30px;
    font-size: 20px;
    width: 60%;
    padding: 0 20px;
}

.question .title-main:hover p{
    display: block;
}

.question .title-main:hover .fa-angle-down{
    display: none;
}

.arrow-up {
    visibility: hidden;
    opacity: 0;
    font-size: 30px;
    padding-bottom: 50px;
}

.question .title-main:hover .arrow-up{
   visibility: visible;
   opacity: 1;
}

/* footer */
.footer-container {
    width: 100%;
    padding: 50px 20px;
    background: #000;
}

.column-footer{
    width: 80%;
    margin: 0 auto;
}

.column-footer .column-content {
    width: calc(100% / 5);
    float: left;
    padding: 0 30px;
}

.footer-container ul {
    list-style: none;
    width: 100%;
}

.column-content li{
    padding: 5px 0;
}

.column-content li h1{
    color: #fff;
    padding: 10px 0;
}

.column-content li a{ 
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

/* LANGUAGES */

.languages {
    border-top: 2px solid #bfbfbf ;
    width: 150px;
    margin: 100px 0;
    padding: 20px 0;
}

.languages .fa-globe-europe { 
    color: #fff;
    padding: 0 5px;
}

.languages span {
    color: #fff;
}

.languages .fa-angle-up {
    color: #fff;
    padding: 0 5px;
}
